.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: white;
    width: 60%;
    margin: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.add-form {
    width: 100%;
}

.button-row {
    margin-top: 20px;
}